:root {
/* color palet */
  --bg-color: #fff;

/* site fonts */
  --main-font: ;
}
html{
  font-size: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
}
