:root {
/* color palet */
  --main-color: #E02C6D;
  --orange: #FB8200;

  --dark-blue: #0A0826;
  --very-dark-blue: #18191F;
  --grayesh-blue: #787885;

  --gray: #6C6C6C;
  --light-gray: #787885;
  --dark-gray: #3A3A3A;
  
  --white: #ffffff;
  --bg-color: #F5F5F5;
  --black: #000000;

  --shadow-color: rgba(0, 0, 0, 0.09);

/* site fonts */
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --number-font: 'Roboto', sans-serif;

  /* custom proparty*/
  --max-width-nav: 1200px;
  --max-width-main: 1150px
}

html{
  /* font-size: 100%; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
}

.btn {
  border: none;
  color: var(--white);
  background-color: var(--main-color);
}
.btn:hover {
  cursor: pointer;
}